{% extends 'base.html' %}

{% block content %}
    <main class="lg:pr-96">
        <header class="flex items-center justify-between border-b border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
            <h1 class="text-base font-semibold leading-7 text-white">Matches à venir</h1>
        </header>

        <ul role="list" class="divide-y divide-white/5" id="upcoming-matches">
            {% include 'home/partials/upcoming-matches.html' %}
        </ul>

        {% if upcoming_matches.has_next %}
            <div class="px-4 py-4 sm:px-6 lg:px-8">
                <button class="w-full bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded"
                        hx-get="{% url 'planner:index' %}?page={{ upcoming_matches.next_page_number }}"
                        hx-target="#upcoming-matches"
                        hx-swap="beforeend"
                        hx-trigger="intersect once">
                    Charger plus de matches
                </button>
            </div>
        {% endif %}
    </main>

    <!-- Past matches -->
    <aside class="bg-black/10 lg:fixed lg:bottom-0 lg:right-0 lg:top-16 lg:w-96 lg:overflow-y-auto lg:border-l lg:border-white/5">
        <header class="flex items-center justify-between border-b border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
            <h2 class="text-base font-semibold leading-7 text-white">Matches passés</h2>
        </header>
        <ul role="list" class="divide-y divide-white/5">
            {% for match in past_matches %}
            <li class="px-4 py-4 sm:px-6 lg:px-8">
                <div class="flex items-center gap-x-3">
                    <h3 class="flex-auto truncate text-sm font-semibold leading-6 text-white">{{ match.team1.name }} vs {{ match.team2 }}</h3>
                    <time datetime="{{ match.date|date:"c" }}" class="flex-none text-xs text-gray-600">{{ match.date }}</time>
                </div>
                <p class="mt-3 truncate text-sm text-gray-500">
                    <span class="text-gray-400">
                        {% if match.team1.championship %}
                            {{ match.team1.championship.name }}
                        {% else %}
                            Non défini
                        {% endif %}
                    </span>
                </p>
            </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}