{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="{% static 'images/caplogo.png' %}" alt="Ping Meet">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Connectez-vous à votre compte</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% if messages %}
            {% for message in messages %}
                <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded-md">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form class="space-y-6" method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium leading-6 text-white">Adresse e-mail</label>
                <div class="mt-2">
                    {{ form.username }}
                </div>
                {% if form.username.errors %}
                    <p class="mt-2 text-sm text-red-500">{{ form.username.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium leading-6 text-white">Mot de passe</label>
                <div class="mt-2">
                    {{ form.password }}
                </div>
                {% if form.password.errors %}
                    <p class="mt-2 text-sm text-red-500">{{ form.password.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-orange-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">Se connecter</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-400">
            <a href="{% url 'accounts:password_reset' %}" class="font-semibold leading-6 text-orange-500 hover:text-orange-400">Mot de passe oublié?</a>
        </p>
    </div>
</div>
{% endblock %}