{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Email de réinitialisation envoyé</h2>
        <p class="mt-4 text-center text-sm text-gray-400">Nous vous avons envoyé un email avec les instructions pour réinitialiser votre mot de passe. Si vous ne le recevez pas dans quelques minutes, vérifiez votre dossier spam.</p>
    </div>
</div>
{% endblock %}